body {
    background-color: #303030;
  font-family: 'Montserrat', sans-serif;
  color: #D0D0D0; 
}
#first {
  font-size: 5.5em;
  margin-bottom: 0;
	
}
#second {
	color: #23527c;
  font-size: 3.5em;
  margin-top: 0;
  
}
p {
  font-size: 1.3em;
}
small {
	color: #23527c;
}
.top-buffer { margin-top:20px;
<<<<<<< HEAD
}
=======
}
hr {
border-top: dotted 5px;
color: #979C9C;
}
a {
color: #979C9C;
}
>>>>>>> origin/master
